@using Modules.Projects.Presentation.Scenes
@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="w-full h-screen flex flex-row">
    <Sidebar>
        <Children>
            <SidebarItem Icon="book-lock" Text="All" Route="projects" />
            <SidebarItem Icon="book-lock" Text="Create" Route="projects/create" />
        </Children>
    </Sidebar>
    <div class="flex-1 overflow-y-auto">
        <div class="p-4 2xl:px-10 ">
            @Body
        </div>
    </div>
</div>
