<div class="border-t flex p-3">
    <img src="images/faces/face17.jpg" alt="profile-picture" class="w-10 h-10 rounded-md"/>
    <div class="justify-between items-center w-full ml-3 flex">
        <div class="leading-4 px-3 hidden md:block">
            <h4 class="font-semibold">John Doe</h4>
            <span class="text-xs text-gray-600">jhondoe@gmail.com</span>
        </div>
        <span class="mdi mdi-dots-vertical text-2xl hidden md:block"></span>
    </div>
</div>
