
<article class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    <h3 class="mb-4 text-xl font-semibold dark:text-white">General information</h3>
    <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
        <div class="sm:col-span-2">
            <TextInput Name="title"
                       @bind-Value="Title"
                       Placeholder="Título del proyecto"
                       Label="Título" />
        </div>
        <div class="sm:col-span-2">
            <TextArea Name="description" @bind-Value="Description" Placeholder="Descripción del proyecto" Label="Descripción"></TextArea>
        </div>
        <div class="sm:col-span-2">
            <ProjectTypesComponent @bind-SelectedType="Type"
                                   FromCreate="FromCreate"/>
        </div>
    </div>
</article>
