@using Modules.Projects.Application.Enumerations
@{
    var readOnly = Status.Equals(ProjectStatusEnumeration.Completed)
                   || Status.Equals(ProjectStatusEnumeration.Waiting);
}

<article class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
    <div class="flow-root">
        <h3 class="text-xl font-semibold dark:text-white">@Title</h3>
        <MemberAutocomplete Data="_data"
                            FromCreate="FromCreate"
                            @bind-SelectedItems="SelectedItems"
                            MaximumMembers="@MaximumMembers"
                            AddButtonTitle="@AddButtonTitle"
                            ReadOnly="readOnly"/>
    </div>
</article>
