@if (Remarkable)
{
    <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        @ChildContent
    </td>
}
else
{
    <td class="@CssClass">
        @ChildContent
    </td>
}
