@using Microsoft.AspNetCore.Components.Authorization
@using Shell.Components.Layout
@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly"
            AdditionalAssemblies="[
            Modules.Identity.Presentation.AssemblyReference.Assembly,
            Modules.Projects.Presentation.AssemblyReference.Assembly,
        ]">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <Modules.Identity.Presentation.Authentication.Unauthorized.UnauthorizedComponent />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>

</CascadingAuthenticationState>
