<div
    class="w-7 h-7 rounded-full text-white flex items-center justify-center text-sm mr-1 bg-yellow-600">
    <div class="px-4">
        <div class="group inline-flex items-center outline-none">
            <span>@GetInitials()</span>
        </div>
    </div>
</div>
